<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621806033349-3k72ke2oe3bpls1vfbq8li4v5vvqbbt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621806033349-3k72ke2oe3bpls1vfbq8li4v5vvqbbt3</string>
	<key>API_KEY</key>
	<string>AIzaSyCy2M9dEcUi-Y_mVAgNNxuqY1LYk8l6zTc</string>
	<key>GCM_SENDER_ID</key>
	<string>621806033349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shubhamlekhak.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2e07b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2e07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621806033349:ios:4977b18ac74abd9cfe93ac</string>
</dict>
</plist>